*{
    margin: 0;
    padding: 0;
    body{
     margin: 7px;
     background-color: gray;
    } 
    .menu{
        height: 15px;
       padding: 16px;
        background: #000;
        text-transform: capitalize;
        
        
    }
    a{
        color:rgb(115, 111, 120);
        text-decoration: none;
    }
    li{
        float: left;
        list-style: none;
        margin-right: 30px;
        
    }
     a:hover{
        background-color: rgba(13, 12, 13, 0.841);
     }
     header{
        text-transform: capitalize;
     }
     .search{
        margin-left: 1300px;
        position: relative;
        bottom: 50px;
     }
     .buttonsearch{
        margin-left: 1470px;
        position: relative;
        bottom: 70px;
        border-radius: 20px;
        color: rgb(18, 17, 17);
        background-color:gray;
     }
     .kalki2898AD{
        text-align: center;
        border-radius: 8px;
        padding-bottom: 110%;
        margin-top: 60px;
        margin-left: 200px;
        margin-right: 200px;
        background: #000;
        
        top:190px
     }
     .kalki2898img{
      padding: 1px;
      border-radius: 5px;
      background-color: gray;
      position: relative;
      top:100px
     }
     .kalki2898p{
      color:black;
      text-align: center;
      font-size: x-large;
      border-radius: 30px;
      padding:20px;
      background:gray;
      text-transform: capitalize;
      position: absolute;
      top:220px;
      left: 420px;
      padding-left: 20px;
     }
     .p{
      color: gray;
      position: absolute;
      top:690px;
      left: 220px;
      
     }
     .kalki_info{
      color:darkmagenta;
      position: absolute ;
      top:40px;
      left:2px;
      font-size: large;
     }
     .description{
      margin-right: 260px;
      float: inline-start;
      font-size:large;
     }
     .player1{
      font-size: x-large;
      font-style: italic;
      padding: 30px;
      padding-right: 30%;
      padding-bottom: 1px;
      padding-top: 1px;
      padding-inline: 200px;
      color: palevioletred;
      background-color: #000;
      border-color: palevioletred;
      text-transform: capitalize;
       
     }
     .player2{
      font-size: x-large;
      font-style: italic;
      padding: 30px;
      padding-right: 20%;
      padding-bottom: 1px;
      padding-top: 2px;
      padding-inline: 200px;
      margin-left: 9px;
      color: palevioletred;
      background-color: #000;
      border-color: palevioletred;
      text-transform: capitalize;
      position: absolute;
     }
      .downloadlinks{
         margin-top: 50px;
         color: black;
         background-color: orangered;
         border-radius: 3px;
         position: absolute;
         left: 60px;
      }
   }