* {
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
}

body {
  background: #000;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
}
/*
     header start's here
    */
header {
  color: gray;
}
.header_h1 h1 {
  padding: none;
  cursor: pointer;
  margin-left: 5em;
}

/*
header end's here
*/

/*
nav start's here
*/
.nav-bar {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 13px;
  left: 400px;
}
.nav-bar ul {
  list-style-type: none;
}
.nav-bar ul li {
  margin-right: 30px;
  display: inline;
  cursor: pointer;
}
.nav-bar ul li:hover {
  color: orangered;
  border-bottom: 2px solid orangered;
  padding-bottom: 6px;
}
.nav-bar input {
  position: absolute;
  left: 43.5em;
  height: 1.5em;
}
/*
nav end's here*/
/* section start's here*/
section.homepage .telugulatest {
  padding: 5px;
  padding-right: 47%;
  border-radius: 7px;
  background-color: #000;
  color: gray;
  position: absolute;
  top: 65px;
  left: 220px;
}
section.homepage {
  padding-bottom: 50em;
  margin-left: 11em;
  margin-right: 15em;
  border-radius: 2vh;
  background-color: #989eae;
}
/*
Bharateeyudu 2 (2024) img and paragraph start's here
*/
section.homepage .Bharateeyudu2 img {
  padding: 3px;
  height: 17.6em;
  width: 12em;
  margin-left: 5em;
  padding-bottom: 45px;
  border-radius: 3px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  top: 8em;
  left: 41em;
  margin-right: 3px;
}
section.homepage .Bharateeyudu2 p {
  color: gray;
  text-align-last: left;
  text-align: center;
  padding-top: 0.5em;
  margin-left: 13em;
  font-size: small;
  font-weight: 700;
  position: absolute;
  top: 31.5em;
  left: 44em;
  margin-right: 3px;
}
/*    
Bharateeyudu 2 (2024) img and paragraph end's here
*/

/*kalki2898AD img and paragraph start's here*/
section.homepage .kalki2898AD img {
  padding: 3px;
  margin-left: 3em;
  padding-bottom: 45px;
  border-radius: 3px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  top: 8em;
  margin-right: 3px;
}
section.homepage .kalki2898AD p {
  color: gray;
  text-align-last: left;
  text-align: center;
  padding-top: 0.5em;
  margin-left: 11.5em;
  font-size: small;
  font-weight: 700;
  position: absolute;
  top: 31.5em;
  left: 13.5em;
  margin-right: 3px;
}
/* kalki2898AD img and paragraph end's's here*/

/*
malayalee from india img and paragraph start's here
*/
section.homepage .malayaleefromindia img {
  padding: 3px;
  margin-left: 13em;
  padding-bottom: 3em;
  cursor: pointer;
  background-color: black;
  border-radius: 3px;
  height: 39.5vh;
  width: 11em;
  position: absolute;
  top: 8em;
  left: 20em;
}
section.homepage .malayaleefromindia p {
  color: gray;
  font-weight: 700;
  margin-left: 12.1em;
  text-align: center;
  font-size: smaller;
  position: absolute;
  top: 31em;
  left: 27.5em;
}
/*
malayalee from india img and paragraph end's here
*/

/*
  Mirzapur Season 3 (2024) img and paragraph start's here
*/
section.homepage .mirzapur3 img {
  padding: 5px;
  height: 40vh;
  width: 11em;
  margin-left: 6em;
  padding-bottom: 45px;
  border-radius: 3px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  top: 8em;
  left: 123vb;
  margin-right: 3px;
}
section.homepage .mirzapur3 p {
  color: gray;
  font-weight: 700;
  margin-left: 15em;
  text-align: center;
  font-size: smaller;
  position: absolute;
  top: 31.5em;
  left: 57.5em;
}
/*
  Mirzapur Season 3 (2024) img and paragraph end's here
*/
/* pattabhiraman(2024) paragraph and img start's here*/
section.homepage .tamil h1 {
  padding: 0.5em;
  padding-right: 53%;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: #000;
  color: gray;
  border-radius: 8px;
  position: absolute;
  top: 20em;
  left: 9em;
}
section.homepage .tamil img {
  padding: 5px;
  height: 40vh;
  width: 11em;
  margin-left: 6em;
  padding-bottom: 45px;
  border-radius: 3px;
  cursor: pointer;
  background-color: black;
  position: absolute;
  top: 34em;
  left: 30vb;
  margin-right: 3px;
}
section.homepage .tamil p {
  color: gray;
  font-weight: 700;
  margin-left: 15em;
  text-align: center;
  font-size: smaller;
  position: absolute;
  top: 62.5em;
  left: 8em;
}

/* pattabhiraman(2024) paragraph and img end's here*/

/* section end's here*/
@media screen and (min-width: 375px) and (max-width: 616px) {
  * {
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
  }
  .nav-bar {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    position: absolute;
    top: 178px;
    left: 122px;
  }
  .header_h1 h1 {
    padding: 6px;
    cursor: pointer;
    margin-left: 2em;
    margin-top: 1em;
  }
  section.homepage .telugulatest {
    padding: 5px;
    white-space: nowrap;
    padding-right: 47%;
    border-radius: 3px;
    font-size: 22px;
    border-color: gray;
    border-top-color: gray;
    background-color: #000;
    color: gray;
    position: absolute;
    top: 317px;
    left: -19px;
  }
  section.homepage .Bharateeyudu2 img {
    padding: 3px;
    height: 17.6em;
    width: 10em;
    margin-left: 5em;
    padding-bottom: 45px;
    border-radius: 3px;
    cursor: pointer;
    background-color: black;
    position: absolute;
    top: 24em;
    left: -3em;
    margin-right: 3px;
  }
  section.homepage .Bharateeyudu2 img {
    padding: 3px;
    height: 17.6em;
    width: 10em;
    margin-left: 5em;
    padding-bottom: 45px;
    border-radius: 3px;
    cursor: pointer;
    background-color: black;
    position: absolute;
    top: 24em;
    left: -4em;
    margin-right: 3px;
  }
  section.homepage .Bharateeyudu2 p {
    color: gray;
    text-align-last: left;
    text-align: center;
    padding-top: 0.5em;
    margin-left: 13em;
    font-size: 12px;
    font-weight: 750;
    position: absolute;
    top: 55.5em;
    left: -11em;
    margin-right: 3px;
  }
  section.homepage .kalki2898AD img {
    padding: 3px;
    margin-left: 3em;
    padding-bottom: 45px;
    border-radius: 3px;
    cursor: pointer;
    background-color: black;
    position: absolute;
    top: 24em;
    left: 140px;
    margin-right: 3px;
  }
  section.homepage .kalki2898AD p {
    color: gray;
    text-align-last: left;
    text-align: center;
    padding-top: 0.5em;
    margin-left: 11.5em;
    font-size: small;
    font-weight: 700;
    position: absolute;
    top: 51.5em;
    left: 3.5em;
    margin-right: 3px;
  }
  section.homepage .malayaleefromindia img {
    padding: 3px;
    margin-left: 13em;
    padding-bottom: 3em;
    cursor: pointer;
    background-color: black;
    border-radius: 3px;
    height: 39.5vh;
    width: 10em;
    position: absolute;
    top: 45em;
    left: -12em;
  }
  section.homepage .malayaleefromindia p {
    color: gray;
    font-weight: 700;
    margin-left: 12.1em;
    text-align: center;
    font-size: 12px;
    font-weight: 750;
    position: absolute;
    top: 81em;
    left: -10.5em;
  }
  section.homepage .mirzapur3 img {
    padding: 5px;
    height: 40vh;
    width: 11em;
    margin-left: 6em;
    padding-bottom: 45px;
    border-radius: 3px;
    cursor: pointer;
    background-color: black;
    position: absolute;
    top: 45em;
    left: 15vb;
    margin-right: 3px;
  }
  section.homepage .mirzapur3 p {
    color: gray;
    font-weight: 700;
    margin-left: 15em;
    text-align: center;
    font-size: smaller;
    position: absolute;
    top: 73.5em;
    left: -2em;
  }
}
